.weatherapi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-top: 3.5rem;
  background: rgb(44, 44, 194);
  a {
    color: whitesmoke;
  }
}

@-moz-document url-prefix() {
  .weatherapi {
    min-height: 8vh;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .weatherapi {
    min-height: 8vh;
  }
}
