.weatherapi {
  min-height: 0vh;
  -moz-min-height: 8vh;
  -webkit-min-height: 8vh;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-top: 3.5rem;
  background: rgb(44, 44, 194);
  a {
    color: whitesmoke;
  }
}
