* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(52, 52, 238);
  color: whitesmoke;
}

@import "_nav";
@import "_current";
@import "_details";
@import "_footer";
